:root {
    --primario: #e0a500;
    --secundario: #136f63;
    --verdeClaro: #22aaa1;
    --burgundy: #af1b3f;
    --old-burgundy: #4b3b40;
    --grisOscuro: #343A40;
    --grisClaro: #848f9a;
    --plateado: #E6E6E6;
    --blanco: #ffffff;


    --fuentePrincipal: 'Dosis', sans-serif;

}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.8;
}

h1, h2, h3 {
    font-weight: 800;
    line-height: 1.2;
    margin: 1rem 0 4rem 0;
}

h1 {
    font-size: 5.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.5rem;
}

a {
    text-decoration: none;
}

img {
  max-width: 100%;
  display: block;  
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}

/** Utilidades **/
.text-center {
    text-align: center;
}

.mt-5 {
    margin-top: 5rem;
}

/** CONTENIDO DE LA PÁGINA**/
@media ( min-width: 992px ) {
    
    .sesion-login {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        height: 100vh;
        position: relative;
    }
}
.texto-logo {
    grid-column: 1 / 5;
}
@media ( min-width: 992px ) {
    .texto-logo {
        grid-column: 1 / 5;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        margin: 0 auto;
    }
}
.texto-logo h1 {
    margin-top: 5rem;
    color: var(--primario);
    font-weight: 800;
}
.texto-logo h1 span {
    display: block;
    color: var(--grisOscuro);
    font-weight: 200;
    font-size: 3.5rem;
}

.login {
    margin: 5rem 0;
}
@media ( min-width: 992px ) {
    
    .waves {
        background-image: url('../img/waves.svg');
        background-repeat: no-repeat;
        background-size: cover;
        grid-column: 1 / 3;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .login {
        grid-column: 3 / 5;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}
.contenido-login {
    width: 100%;
    text-align: center;
}
@media ( min-width: 992px ) {
    .contenido-login {
        width: 60%;
    }
}

.contenido-login h2 {
    font-weight: 200;
}

.input-group {
    position: relative;
    width: 60%;
    margin: 0 auto 1.5rem;
}

.input-fill input {
    border: none;
    border-bottom: 3px solid var(--grisClaro);
    width: 100%;
    height: 2rem;
    font-size: 1.0625rem;
    padding: 3rem 0 1.5rem 2rem;
    line-height: 147.6%;

}

.input-fill input:focus {
    outline: none;
    border-color: var(--primario);
}

.input-fill input:hover {
    background-color: #e9ecef;
}

.input-fill input:focus + .input-label {
    top: 0;
    margin-bottom: 2rem;
    color: var(--primario);
}
.input-fill .input-label {
    position: absolute;
    top: .5rem;
    left: 2.8rem;
    line-height: 147.6%;
    color: var(--grisClaro);
    transition: top .2s;
    font-weight: 700;
}

.input-fill i {
    position: absolute;
    top: 1.9rem;
    left: 0;
    color: var(--grisClaro);
    font-size: 1.8rem;
}

.input-fill input:focus ~ i {
    color: var(--primario);
}

.formulario-login a {
    display: block;
    width: 80%;
    text-align: right;
    color: var(--grisClaro);
    margin-bottom: 1.3rem;
    font-weight: 800;
    transition: .3s ease-in-out all;
    font-size: 1.5rem;
}

.formulario-login a:hover {
    color: var(--secundario);
}

.btn-login {
  border-radius: 3rem;
  width: 45%;
  border: 1px solid var(--primario);  
  line-height: 1.6rem;
  background-color: var(--primario);
  color: var(--blanco);
  padding: 1rem 0;
  transition: .3s ease-in-out all;
  font-weight: 500;
}

.btn-login:hover {
    cursor: pointer;
    background-color: var(--blanco);
    color: var(--primario);
}